<!DOCTYPE html>

<html>
<head>
    <!--Add bootstrap title of site-->
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!--add white to text to go on black bar on top-->
    <div class="bg-dark text-white p-2">
     <span class="navbar-brand mlg-2">Book Site</span>
    </div>

    <div class="row m-1 p-1">

        <div id="category" class="col-3">
            <vc:category></vc:category>
        </div>

        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>

    </div>
</body>
</html>
